.btn {
    background: linear-gradient(96.34deg, #ff9c23 -5.73%, #fd53cf 155.34%);
    border-radius: 4px;
    border: none;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        background: linear-gradient(96.34deg, #ff9c23 -5.73%, #fd53cf 155.34%);
    }
}
