@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.ant-btn {
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    height: 40px;
    box-sizing: border-box;
    &-primary {
        background: linear-gradient(96.34deg, #ff9c23 -5.73%, #fd53cf 155.34%);
        border: none;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
            background: linear-gradient(96.34deg, #ff9c23 -5.73%, #fd53cf 155.34%);
        }

        &:focus,
        &:active {
            border-color: #ff9c23;
            background: linear-gradient(96.34deg, #ff9c23 -5.73%, #fd53cf 155.34%);
        }
    }

    &-lg {
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
